body {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(73,76,77,1) 100%);
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

.title {
  color: white;
  text-align: center;
}

.text1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  position: relative; 
}

button {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: absolute;
  top: 0.5%;
  left: 0; 
  background: #000000;
  transition: 0.1s;
}

