body {
  background: rgb(71,16,142);
  background: linear-gradient(90deg, rgba(71,16,142,1) 0%, rgba(103,14,180,1) 35%, rgba(118,25,194,1) 100%);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 50px; /* Add padding to create space for the button */
}

.title {
  color: white;
  text-align: center; /* Center the title */
}

.text1 {
  color: white;
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add space at the bottom of the text */
  position: relative; /* Set position to relative to align the button */
}

button {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: absolute;
  bottom: -5px; /* Adjust as needed to center the button at the bottom of the text */
  left: 50%;
  transform: translateX(-50%);
  background: #100720;
  transition: 0.1s;
}
