body {
  background: rgb(71,16,142);
background: linear-gradient(90deg, rgba(71,16,142,1) 0%, rgba(103,14,180,1) 35%, rgba(118,25,194,1) 100%);
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

#GitHub {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: absolute;
  top: 0.5%; /* Place the button below the text */
  left: 0; /* Align to the left of the page */
  background: #000000;
  transition: 0.1s;
}

#Instagram {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: absolute;
  top: 0.5%; /* Place the button below the text */
  left: 180px; /* Align to the left of the page, leaving space for the Socials button */
  background: #000000;
  transition: 0.1s;
}
